* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.container {
    padding: 0 5%;
    width: 80%;
    margin: auto;
}
nav {
    display: flex;
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}
nav p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    font-size: 3vw;
}
.links {
    display: flex;
}
.links li {
    cursor: pointer;
    align-self: flex-end;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin: 0 25px auto;
    font-size: 1.5vw;
}
.underline {

    position: absolute;
    width: 0;
    height: 2px;
    transition: all 500ms ease-in-out;
    
}
li:hover .underline{
    width: 75px;
    background-color: white;
}

hr {
    border: 0;
    border-top: 2px solid white;
}

.background-image{
    position: fixed;
    position: absolute;
    top:0;
    left: 0;
    width: 120vw;
    height: 100%;
    background: url(https://th.bing.com/th/id/R.21f63da094a85f0eb6399d5f15987c58?rik=IrESTyevTH%2bK9Q&pid=ImgRaw&r=0);
    background-repeat:no-repeat;
    background-size:contain;
    filter: blur(10px);
    z-index: -1;
}

.dropdown {
    position:absolute;
    display: none;
    text-align: left;
    border: 2px solid white;
    padding: 15px;
    justify-content: center;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 10px;
    transform: translateX(-35px);
}
.dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.dropdown a:hover {
    color: lightgray;
}
.links li:hover .dropdown,
.dropdown:hover {
    display: block;
}